:root {
  --fs-sm: .75rem;
  --fs-md: 1rem;
  --fs-lg: 2rem;
  --fs-xl: 2.25rem;
  --clr-orange: #F9A826;
  --clr-blue: #6066D0;
  --clr-red: #EA8282;
  --clr-green: #60BF88;

}

app {
  width: 100%;
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 470px;
  min-width: 214px;
  margin: 0 auto;
  padding: 1rem;
  /* background-color: aquamarine; */



}

body {
  line-height: 1.6;
  font-size: var(--fs-md);
  background: url(./assets/countryquiz/background.png);
  background-position: 0px;
  padding: 9rem 0;

}

img {
  max-width: 100%;
}





/****************************************************** Utility classes************************************************************************** */
.flow-1 {
  margin-block-end: 1rem
}

.flow-3 {
  margin-block-end: 3rem
}

.flow-2 {
  margin-block-end: 2rem
}

.flow-3 {
  margin-block-end: 3rem
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: space-between;
  align-items: center;
}

.col-gap-1 {
  column-gap: var(--fs-md);
}



/* *********************************************************************************************************************************************** */
.card {
  width: 100%;
  /* background-color: #F9A826; */
  border-radius: 16px;
  background-color: white;
  padding: 4rem 0;
  position: relative;
}

.card-panel {
  /* background-color: #F9A826; */

  width: 100%;

  padding: 0 1rem;


}

/*********************************** question button styles and next****************************** */


.button>button {
  width: 100%;
  padding: var(--fs-sm) 1rem;
  border-radius: 12px;
  max-width: 29rem;
  border: 2px solid var(--clr-blue);
  color: var(--clr-blue);
}

.letter {
  font-weight: 700;
}

.button>button:hover {
  border-color: transparent
}

.button>button:hover {
  background-color: var(--clr-orange);
  color: white;
}

.button>button:focus {
  border: none;
  color: white;

}

.button>button:disabled {
  border: none;

}


button:disabled.right-answer-style {
  color: white;
}

button:disabled.wrong-answer-style {
  color: white;
}




.next {
  padding: var(--fs-sm) 2rem;
  border-radius: 12px;
  background-color: var(--clr-orange);
  border: none;
  color: white;
  font-weight: 700;
  margin-left: auto;
  position: absolute;
  right: 1rem;
}


/* ***************************************************************** */


.avatar {
  position: absolute;
  right: 0;
  top: -57px;
  /* background-color: #EA8282; */
  width: 100%;
  justify-content: space-between;
  color: white;
}

.avatar h2 {
  align-self: flex-end;
  white-space: nowrap;
}

.avatar h1 {
  align-self: center;
  white-space: nowrap;
}

.avatar img {
  width: 104.95px;

}


.right-answer-style {

  background: var(--clr-green);
  border: transparent;
  color: white;
}

.wrong-answer-style {

  background-color: var(--clr-red);
  color: white;
  border: transparent;

}

.right-answer-style .right,
.wrong-answer-style .wrong {
  display: block;
}

.right,
.wrong {
  display: none;
}

.hide {
  display: none
}
